//系統配色
// 配色1-------------------------------------------
$theme:#004282; //主題色 1色
$themes:#ff6549;//主题色 2色
$themer:#034d96; //导航栏右侧背色
$title:#ff6549;//標題色
$header:#ff6549;//导航头
$second:#ff6549;//第二色
// 配色1-------------------------------------------


// 配色2-------------------------------------------
// $theme:#224464; //主題色
// $themes:#32608b;//主题贴近色
// $themer:#35638f; //导航栏右侧背色
// $title:#5c5a5a;//標題色
// $header:#4e4e4e;//导航头
// $second:#18927c;//第二色
// 配色2-------------------------------------------


$base:#f6f7f8;//基礎色
$white:white;//白色
$text:#5c5a5a;//默認字體色
$shadow:#a09f9f;//陰影色
$border:#e4e3e2;//边框色
$cover:#00000067;//透明遮罩层

$MaxWidth:1470px;//全局最多宽度
$TabWidth:70%;//新闻公告部分宽度